@model int

@{
    ViewData["Title"] = "Підтвердження замовлення";
}

<div class="container">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Запит на отримання послуг створено</h1>
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Дякуємо за онлайн створення замовлення! <br />
        Як тільки наша команда отримає ваше замовлення, ми передзвонимо вам в найближчий час!
        <br />
        Номер вашого запиту: @Model
    </div>
</div>
