@{
    ViewData["Title"] = "Наші послуги";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-3">
        <vc:categories />

        <div class="bg-success mt-3 p-3 text-white">
            <vc:small-cart />
        </div>
    </div>
</div>
