@model SmallCartViewModel

@if (Model != null)
{
	<p>Послуги: <span class="badge badge-primary">@Model.NumberOfItems</span></p>
	<p>Загалом: <b>@Model.TotalAmount.ToString("C2")</b></p>
	<a class="btn btn-primary" asp-area="" asp-controller="Cart" asp-action="Index">Переглянути корзину</a>
	<a class="btn btn-danger" asp-area="" asp-controller="Cart" asp-action="Clear">Очистити корзину</a>
}
else
{
	<p class="lead m-0">Ваша корзина порожня</p>
}
